# Ignorar arquivos python compilados
*.pyc
*.pyo
*.pyd
*.ps1
*.ipynb
package.json
package-lock.json


# Ignorara pastas geradas
__pycache__/
pycache/
.env/
node_modules/
tailwindcss/node_modules/
colors/
.vercel
